.app {
  
  
  height: 100vh;
  width: 100vw;
  align-items: center;
}

.container {
  width: 85vw;
  height: 4rem;
  background-color: rgba(245, 245, 245, 0.836);
  padding: 10px;
  margin-left: 7rem;
  border-radius: 24px;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 2rem;
  
}

.button {
  width: 130px;
  font-size: larger;
  border-radius: 35px;
  color: black;
}

.button:hover {
  border: 2px solid cyan;
}